body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}


div:focus {
    border: 1px solid #07c;
    box-shadow: 0 0 10px #07c;
}
